.centerer_div{
  display: flex;
  width: 100vw;
  height: 70vh;
  justify-content: center;
  flex-wrap: wrap;
}

form
{
  display: flex;
  flex-direction: row;

  max-width: 750px;
  max-height: 350px;

  justify-content:center;
  /* align-items: center; */
  background-color: hsl(0, 0%, 100%);
  border-radius: 1rem;
  box-shadow: 0px 1px 23px 1px rgba(0,0,0,0.24);

}

.split_entry_fields
{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  height: 90%;
  min-width: 350px;
  font-weight: 700;
  font-size: 0.75rem;
  color: hsl(186, 14%, 43%);
  padding: 1rem;

   }

.amtnTotal
{
  display:flex;
  flex-direction: column;
  justify-content:flex-start;
  width: 45%;
  height: 90%;
  padding:1rem;
  min-width: 350px;
  background-color: hsl(183, 100%, 15%);
  font-weight: 700;
  font-size: 0.75rem;
  color: hsl(0, 0%, 100%);
  border-radius: 1.25rem;
  margin:1rem;

}


input
{
  border: none;
  background-color: hsl(189, 41%, 97%);
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: right;
  color:hsl(183, 100%, 15%);
  padding-right:.5rem;
  padding-left:.5rem;
  border:2px solid white;
  }


  button{
    display: block;
    border-radius: .4rem;
    background-color: hsl(172, 67%, 45%);
    width:17rem;
    height: 2.5rem;
    color:hsl(183, 100%, 15%);
    font-family: "Space Mono", monospace;
    font-weight:700;
    border:0;
    outline: 0;
    align-self: center;
    margin-top: auto;
  }

  label>span {
    font-size: .75rem;
    color: hsl(184, 14%, 56%)

  }

.wrap_container{
    display:flex;
    justify-content: space-between;
    padding:1rem 1.5rem 1rem 1.5rem;
    align-items: center;
    flex-wrap: wrap;
  }

.dollar_field {
  display: inline-block;
  color:hsl(172, 67%, 45%);
  font-size: 2rem;
  vertical-align: middle;

}

input:hover, input:focus{
  outline:0;
  border: 2px solid hsl(172, 67%, 45%);
}

button:hover, button:focus {
  background-color: hsl(172, 67%, 70%);

}

.btn_wrap {
  flex-basis: 30%;
  padding-bottom: .5rem;
  align-self: center;
}
.percent_btns
{
  list-style-type:none;
  margin:0;
  padding:0;
  justify-items: center;
}

.percent_btns li {
  float:left;
  margin:4px;
 width:6.0rem;
 height:3.1rem;
 position:relative;

}

.percent_btns label, .percent_btns input {
 display:block;
 position:absolute;
 top:0;
 left:0;
 right:0;
 bottom:0;

}

.percent_btns input[type="radio"] {
 opacity:0.011;
 width:6.0rem;
 height:3.1rem;
 z-index:100;
}

.percent_btns input[type="text"] {
  width:6.0rem;
  height:3.1rem;
  z-index:100;
  border-radius: 4px;
 }

.percent_btns input[type="radio"]:checked + label {
  background-color:hsl(172, 67%, 45%);
  color:hsl(183, 100%, 15%);
}

.percent_btns label {
  display: inline-block;
  vertical-align: middle;
  padding:5px;
  border:1px solid #CCC;
  cursor:pointer;
 z-index:90;
 text-align: center;
 border-radius: 4px;
 font-size: 1.4rem;
 background-color: hsl(183, 100%, 15%);
 color:hsl(0, 0%, 100%);
}

.percent_btns .custom_btn {
  background-color: hsl(189, 41%, 97%);
  color:hsl(184, 14%, 56%);
  border:0
}

.hidden {
  display:none;
}
.show
{
  display:inline-block;
}

.bill-logo, .ppl-logo{

  background-position: .5em ;
  background-repeat:no-repeat;
}
.ppl-logo{
  background-image:url(../../assets/icon-person.svg);

}

 .bill-logo {
  background-image:url(../../assets/icon-dollar.svg);
}

.label_error{
  display: flex;
  justify-content: space-between;
}
.field_error{
  color:red;
}

.input_error {
  border: 2px solid red;

}

button:disabled {
background-color: hsl(184, 14%, 56%);

}
@media (max-width: 750px)
{
  form{
    flex-direction: column;
    justify-content: center;
    max-height: 600px;
    max-width: 385px;
    align-items: center;
  }
}
