<div class = "centerer_div">
<form [formGroup]="splitForm" (ngSubmit)="onReset()"  >
<div class="split_wrap">
  <div class="split_entry_fields">
    <div class = "label_error">
      <label for = "billAmount">Bill</label>
      <div class = "field_error" 
      *ngIf="(splitForm.get('billAmount').dirty || splitForm.get('billAmount').touched) && 
      (splitForm.get('billAmount').hasError('required') || splitForm.get('billAmount').hasError('pattern') )">
      Invalid!</div>
    </div>

     <input class="input_box" class="bill-logo" formControlName="billAmount" type="text" placeholder="0">

    
    <div class = "label_error">
      <label>Select Tip %</label>
      <div class = "field_error" 
      *ngIf="(splitForm.get('customPercent').dirty || splitForm.get('customPercent').touched) && 
      (splitForm.get('customPercent').hasError('required') || splitForm.get('customPercent').hasError('pattern') )">
      Invalid!</div>  
    </div>
    <!-- <div class = "percent_btns"> -->
    <!-- <div class = "btn_wrap">
      <button class="percent_btn" formControlName="fivePercent">5%</button>
    </div>
    <div class = "btn_wrap">
      <button class="percent_btn" formControlName="tenPercent">10%</button>
    </div>
    <div class = "btn_wrap">
      <button class="percent_btn" formControlName="fiftnPercent">15%</button>
    </div>
    <div class = "btn_wrap">
      <button class="percent_btn" formControlName="twfPercent">25%</button>
    </div>
    <div class = "btn_wrap">
      <button class="percent_btn" formControlName="fiftyPercent">50%</button>
    </div> -->
    
      <input  formControlName="customPercent" placeholder="0">
    
    <!-- </div> -->
    
    <div class = "label_error">
      <label for="numPpl">Number of People</label>
      <div class = "field_error" 
        *ngIf="(splitForm.get('numPpl').dirty || splitForm.get('numPpl').touched) && 
        (splitForm.get('numPpl').hasError('required') || splitForm.get('numPpl').hasError('pattern') )">
        Invalid!</div>      
    </div>
    
    <input class="input_box" class="ppl-logo" formControlName="numPpl" placeholder="0">

  </div>
  <div class="amtnTotal">
    <div class="wrap_container">
      <label>Tip Amount<span><br>/ person</span></label>
      <label class="dollar_field">{{calculateTip()}}</label>
    </div>
    <div class="wrap_container">
      <label>Total<span><br>/ person</span></label>
      <label class="dollar_field" >{{calculateTotal()}}</label>
    </div>
    <button class="reset_button" type="submit"  [disabled]="!splitForm.valid">RESET</button>
  </div>

</div>
</form>
</div>
